<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        </tr>
    </thead>
    <tbody>
    <% user.forEach(function(data){ %>
        <tr>
        <th scope="row"><%-data.id %></th>
        <td><%-data.firstname %></td>
        <td><%-data.lastname %></td>
        </tr>
    <% }); %>
    </tbody>
</table>
