body {
  color: blue;
}

h1 {
  color: green;
  text-align: center;
  letter-spacing: 3px;
}

h3 {
  text-decoration: underline;
  word-spacing: 10px;
}

p.capitalize {
  text-transform: capitalize;
}

p {
  text-indent: 50px;
}

