@import '~antd/dist/antd.css';

.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.login-form-button {
  width: 100%;
}

.twitterIcon-bird {
  height: 141vh;
  right: -185vh;
  top: -20vh;
}

.twitter-bg {
  background: #1da1f2;
  overflow: hidden;
  position: relative;
}

.twitter-col1 {
  font-size: 18px;
  display: flex;
  color: white;
  display: flex;
  font-size: 18px;
  line-height: 24px;
  margin: 33px auto;
  position: relative;
}

.twitter-col1-box {
  padding-top: 70px;
  width: 360px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

.App .ant-input-group-addon{
  padding: 0;
}